@import '../../sources/style/variables';
@import '../../sources/style/breakpoints';

.subHeader {
  background-repeat: repeat-x;
  background-color: $black;
  height: 3rem;
  margin-bottom: 2rem;

  .content {
    width: $screen-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    color: $white;
  }
}
