@import '../../sources/style/variables';
@import '../../sources/style/breakpoints';

.content {
  width: $screen-width;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height:  calc(100vh - 19rem);
}
