@import '../../sources/style/variables';
@import '../../sources/style/breakpoints';

.header {
  background-image: linear-gradient(to bottom, $blue 0, $dark-blue 100%);
  background-repeat: repeat-x;
  background-color: $blue;
  height: 4rem;

  @include mobile {
    height: 5rem;
  }

  .content {
    width: $screen-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin: 0 auto;

    h1, a {
      color: $white;
    }

    a {
      text-decoration: none;
      margin-right: 1rem;
      font-size: $font-size-normal;
    }


    @include mobile {
      padding: 0 1rem;
      width: calc(100% - 2rem);
      height: 5rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}
