body, div, h1, h2, h3, h4, h5, h6, li, p, a, button{
  font-family: 'Raleway', sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

p {
  white-space: normal;
}